body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000; /* black background */
}

/* NAVBAR */
nav {
    background-color: #ff1493; /* pink */
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: black;
}

/* TEXT */
h1 {
    text-align: center;
    margin-top: 80px;
    color: #ff1493; /* pink text */
    font-size: 40px;
}

p {
    text-align: center;
    font-size: 18px;
    color: white;
}
